<div id="footer">
  <footer>
    <p>
      © 2021 Hari Rana / TheEvilSkeleton and <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io/-/graphs/main" target="_blank" rel="noopener noreferrer">contributors</a>
    </p>
    <p>
      🄯 Website <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io" target="_blank" rel="noopener noreferrer">code</a> under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank" rel="noopener noreferrer">AGPL-3.0-only</a> · Website <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">content</a> under CC-BY-SA-4.0
    </p>
    <p>
      Website powered by <a href="https://jekyllrb.com/" target="_blank" rel="noopener noreferrer">Jekyll</a> · Hosted on <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/" target="_blank" rel="noopener noreferrer">GitLab Pages</a>
    </p>
  </footer>
</div>
