<figure>
  <video src="{{ include.url }}"
    controls="controls"
    alt="{{ include.alt }}"
    title="{{ include.caption }}"
    >{{ include.alt }}</video>
  <figcaption>{{ include.caption }}</figcaption>
</figure>
